{% extends 'layout.html' %}
{% block title %}| About Us {% endblock %}
{% block content_in %}
<section class="mb-5">
    <div class="container pt-2">
        <div class="row mt-5">
            <div class="col-lg">
                <h1 class="display-5">
                    About Us
                </h1>
            </div>
        </div>
        <hr>
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col">
                <p class="text-justify lead" style="line-height: 30px;">
                    Shine and Sparkles, with our amazing craftsmanship and efforts, we produce exquisite collection of Diamonds.
                    We have an experienced team of talented smiths who make very customized Diamond jewels.we have the jewels at affordable cost yet genuine diamonds.We have exclusive and beautiful collections which are certified and quality checked. Diamonds are direct reflection of relationships and make unforgettable memories. We know how important your relationships are and what these jewels mean to you. So we make them with atmost care and perfection.</p>
                <div class="mt-5">
                    <p class="lead">We currently sell our products only through online services and you can contact us at:</p>
                </div>
                <div class="mt-5">
                    <p class="lead"><i class="fa fa-phone-alt"></i> &nbsp; +91 98765 43210</p>
                    <p class="lead"><i class="fas fa-envelope"></i> &nbsp; support@shineandspakles.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}