{% extends 'layout.html' %}
{% block title %}| Orders {% endblock %}
{% block content_in %}
<div class="container">
    <div class="row">
         <div class="col-lg mt-5 pt-3">
             <div class="row">
                 <h2 style="font-weight: 300;">
                     &nbsp;&nbsp; Order ID : #{{ order.id }}
                 </h2>
             </div>

         </div>
     </div>

    <hr>
    <div class="mt-5 mb-5">
    <div class="row">
        <div class="col-lg">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Order ID</th>
                    <td>#{{ order.id }}</td>
                    <th scope="col">Date and Time</th>
                    <td>{{ order.date_of_order.strftime("%d %B, %Y %I:%M %p") }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ order.name }}</td>
                    <th scope="row">Address</th>
                    <td>{{ order.address }}</td>
                </tr>
                <tr>
                    <th scope="row">Email ID</th>
                    <td>{{ order.email }}</td>
                    <th scope="row">Total Cost</th>
                    <td>{{ order.displayCost }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-lg mt-5 mb-5">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col-2">Product ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in order.product_id %}
                <tr>
                    {% if product.id < 10 %}
                        <th scope="row">#P0{{ product.id }}</th>
                    {% else %}
                        <th scope="row">#P{{ product.id }}</th>
                    {% endif %}
                    <th><a class="nav-link" href="{{ url_for('product', product_type=product.type, product_name = product.name) }}">{{product.name}}</a></th>
                    <td>{{product.displayCost}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td class="text-right mr-lg-4"><h4>Total</h4></td>
                    <td ><h4>{{order.displayCost}}</h4></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock content_in %}
