{% extends 'layout.html' %} {% block title %}| {{ product_type }} {% endblock %} {% block
content_in %}
<div class="container pt-5 pb-3">
  <div class="row">
    <div class="col-lg text-center">
      <h1 style="font-weight: 200;">
        <i class="fas fa-gem"></i>&nbsp;&nbsp;{{ product_type }}
      </h1>
    </div>
  </div>
</div>
<hr />
<div class="container mt-5 mb-5 text-center">
  {% for product in products %} {% if product.id % 3 == 1%}
  <div class="row pt-3 pb-3">
      {% endif %}
      <div class="col-lg-4 mt-3 m-b-3">
        <div class="card">
          <a href="{{url_for('product',product_type=product.type, product_name=product.name) }}">
            <img
              src="{{url_for('static', filename=product.image_file)}}"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <a class="nav-link text-lg-center" href="{{url_for('product', product_type=product.type, product_name=product.name)}}"><h1 class="card-title text-primary text-lg-center lead">{{product.name}}</h1></a>
            <a href="{{url_for('product', product_type=product.type, product_name=product.name)}}" class="nav-link text-dark w-100"><i class="fas fa-tag mr-1"></i>&nbsp;{{ product.displayCost }}</a>
            <a href="{{url_for('add_to_cart', product_type=product.type, product_name = product.name)}}" class="btn btn-light w-100 mt-3">Add to Cart</a>
            <a href="{{url_for('buy_product', product_type=product.type, product_name=product.name )}}" class="btn btn-success mt-3 w-100">Buy</a>
          </div>
        </div>
      </div>
      {% if product.id % 3 == 0%}
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock content_in %}
